// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$purple: #bbb2f9;
$light-gray: #f4f4f4;
$gray: #c1c1c1;
$black: #111111;
$red: #f3b1af;
$white: #fafafa;
