@import "variables";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    header {
        position: fixed;
        left: 90px;
        top: 40px;

        @media screen and (max-width: 768px) {
            left: 24px;
            top: 20px;
        }
    }

    .container {
        border: solid 2px $light-gray;
        border-radius: 8px;
        width: max(400px, 30vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 40px;
            width: 100%;

            div {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        }
    }
}
