@import 'variables';

header {
  .thumbnail {
    // background-image: url("/bg.jpeg");
    background-color: $light-gray;
    background-size: cover;
    width: 100%;
    height: 230px;
  }

  .profile {
    display: flex;
    padding: 0 90px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .button {
        align-self: flex-end;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0 24px;

      .button {
        align-self: center;
      }
    }

    > div {
      display: flex;
      gap: 40px;
      align-items: center;

      @media screen and (max-width: 768px) {
        gap: 20px;
        flex-direction: column;
        width: 100%;
      }

      .picture {
        // background-image: url("/person.jpg");
        background-color: $gray;
        background-size: cover;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-top: -60px;

        @media screen and (max-width: 768px) {
          width: 120px;
          height: 120px;
        }
      }

      .info {
        h2 {
          font-size: $h2;
          line-height: 1.2em;
          font-weight: 600;
          color: $black;

          @media screen and (max-width: 768px) {
            font-size: 1.75rem;
            line-height: 1.3em;
            text-align: center;
          }
        }

        p {
          font-size: $p;
          line-height: 1.5em;
          color: $gray;
          margin-top: 4px;
        }
      }
    }
  }
}

.drawings {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  padding: 0 90px;
  gap: 20px;
  margin: 60px 0;
  cursor: pointer;

  > p {
    width: 100%;
    text-align: center;
    align-self: center;
    color: $gray;
  }

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
  .drawing {
    border-radius: 8px;
    border: solid 1px $gray;
    min-width: 400px;
    flex: 1;

    @media screen and (max-width: 768px) {
      min-width: unset;
      flex: auto;
      width: 100%;
    }

    .thumbnail {
      height: 300px;
      background: $gray;
    }

    footer {
      padding: 20px;

      h2 {
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2em;
        color: $black;
      }

      p {
        font-size: $p;
        line-height: 1.5em;
        color: $gray;
        margin-top: 4px;
      }
    }
  }
}

.settings {
  border: none;
  background-color: #fff;
  cursor: pointer;
  height: 5px;
  width: 30px;
  position: relative;

  div {
    position: absolute;
    width: 5px;
    height: 100%;
    transform: translateX(-50%);
    background-color: #aca0f8;
    top: 0;
    left: 50%;
    border-radius: 50%;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: #aca0f8;
      top: 0;
      border-radius: 50%;
    }

    &:before {
      transform: translateX(-200%);
    }

    &:after {
      transform: translateX(200%);
    }
  }
}
