header {
  height: 120px;
  padding: 0 90px;
  display: flex;
  align-items: center;
}
header a img {
  width: 200px;
}

main {
  padding: 0 90px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 700;
}
main .button {
  margin-top: 60px;
}
