body {
  height: 100vh;
}
body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
body > header a {
  cursor: pointer;
}
body > header a img {
  width: 200px;
}
@media screen and (max-width: 768px) {
  body > header a img {
    width: 120px;
  }
}
body > header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body > header div a {
  color: #111111;
}
@media screen and (max-width: 768px) {
  body > header {
    padding: 0 24px;
    height: 80px;
  }
}
body main {
  display: flex;
  flex-direction: column;
  padding: 3px;
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%);
  bottom: 0;
  gap: 100px;
}
body main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}
body main .content h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body main .content h1 {
    font-size: 38px;
  }
}
body main .content h2 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.2em;
  margin-top: 12px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body main .content h2 {
    font-size: 28px;
  }
}
body main .content form {
  display: flex;
  gap: 1rem;
  margin-top: 48px;
  align-items: flex-start;
}
body main .content form div {
  display: flex;
  flex-direction: column;
}
body main .content form div .field {
  min-width: 300px;
}
@media screen and (max-width: 768px) {
  body main .content form {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
body main > img {
  height: max(25vw, 250px);
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (orientation: portrait), (max-height: 800px) {
  body main > img {
    display: none;
  }
}
@media screen and (orientation: portrait), (max-height: 800px) {
  body main {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
body main dialog {
  position: absolute;
  z-index: 100;
  background-color: #fafafa;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 8px;
}
body main dialog::-webkit-backdrop {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body main dialog::backdrop {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body main dialog img {
  width: 200px;
}
body main dialog p {
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #111111;
  margin-top: 20px;
}
body main dialog #modal-uuid {
  width: 400px;
}
body main dialog div {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
body main dialog div .copied {
  color: #bbb2f9;
}
body main dialog > button {
  margin-top: 40px;
}
