@import 'variables';
@import 'https://files.bdph.me/reset.css';
@import '../fonts/stylesheet.css';

body {
  font-family: 'Hellix', sans-serif;
  background: $white;
}

.button {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
  line-height: 1.5em;
  font-size: $p;
  cursor: pointer;
  color: $black;
  outline-width: 3px;
  outline-offset: 3px;
  outline-color: transparent;
  outline-style: solid;
  display: flex;
  gap: 12px;
  transition-property: filter, gap, color;
  transition-duration: 200ms;
  filter: brightness(1);

  img {
    width: 20px;
  }

  &:hover:not(.fill) {
    color: $purple;
  }

  &.fill {
    background: $purple;

    &:hover {
      filter: brightness(1.1);
      gap: 20px;
    }
  }

  &:focus {
    outline-color: $purple;
  }
}

.field {
  background: $light-gray;
  padding: 10px 20px;
  font-size: $p;
  line-height: 1.5em;
  border-radius: 30px;
  outline-width: 3px;
  outline-offset: 3px;
  color: $black;
  outline-color: transparent;
  outline-style: solid;

  &:focus {
    outline-color: $purple;
  }

  &::placeholder {
    color: $gray;
  }
}

.error {
  color: $red;
  margin-top: 6px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background: $light-gray;
  width: max-content;
  border-radius: 8px;
  position: absolute;
  max-height: 0;
  overflow: clip;
  z-index: 200;
  transition: max-height 200ms;

  a,
  button {
    font-size: $p;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    transition-property: background-color, color;
    transition-duration: 200ms;
    color: $black;
    font-weight: 500;

    &:hover {
      background: $purple;
    }
  }
}
