$light-grey-color: #F4F4F4;
$grey-color: #C1C1C1; 
$purple-color:#BBB2F9;
$black-color:#111111;
$white-color:#FFFFFC;

$dark-purple-color: rgb(107, 3, 107);

// 10 colors for the color palette, from top to bottom :


$palette-red:#F3B1AF;
$palette-orange:#F6D09A;
$palette-yellow:#FAFD90;
$palette-green:#B0D9A0;
$palette-cyan:#9FD7DE;
$palette-blue:#A6C3FA;
$palette-pink:#E4ACEC;
$palette-purple:#BBB2F9;
$palette-light-grey: #F4F4F4;
$palette-grey: #C1C1C1; 
$palette-black:#111111;


$palette-colors: $palette-red,
                 $palette-orange,
                 $palette-yellow,
                 $palette-green,
                 $palette-cyan,
                 $palette-blue,
                 $palette-pink,
                 $palette-purple,
                 $palette-light-grey,
                 $palette-grey,
                 $palette-black;