@use './variables/colors.scss' as *;
@import 'https://files.bdph.me/reset.css';
@import '../../fonts/stylesheet.css';
body {
    font-family: 'Hellix', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    a {
        cursor: pointer;
        img {
            width: 200px;
            @media screen and (max-width: 768px) {
                width: 120px;
            }
        }
    }
    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        a {
            color: $black;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0 24px;
        height: 80px;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 3px;
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translateX(-50%);
    bottom: 0;
    gap: 100px;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
        h1 {
            font-weight: 700;
            font-size: 3rem;
            line-height: 1.2em;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 38px;
            }
        }
        h2 {
            font-weight: 600;
            font-size: 2.375rem;
            line-height: 1.2em;
            margin-top: 12px;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 28px;
            }
        }
        div {
            display: flex;
            gap: 1rem;
            margin-top: 48px;
            .field {
                min-width: 300px;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }
        }
    }
    img {
        height: max(25vw, 250px);
        object-fit: contain;
        @media screen and (orientation: portrait) {
            display: none;
        }
    }
    @media screen and (orientation: portrait) {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.button {
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.125rem;
    cursor: pointer;
    outline-width: 3px;
    outline-offset: 3px;
    outline-color: transparent;
    outline-style: solid;
    &.fill {
        background: $purple;
        &:focus {
            outline-color: $purple;
        }
    }
}

.field {
    background: $light-gray;
    padding: 8px 20px;
    font-size: 1.125rem;
    line-height: 1.5em;
    border-radius: 30px;
    outline-width: 3px;
    outline-offset: 3px;
    outline-color: transparent;
    outline-style: solid;
    &:focus {
        outline-color: $purple;
    }
    &::placeholder {
        color: $gray;
    }
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-container.active {
    display: flex;
}

.popup {
    width: 496px;
    background-color: #fff;
    border-radius: 8px;
}

.img {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-share {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 35px;
}

.share {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.url {
    width: 270px;
    height: 43px;
    background-color: $light-gray;
    border-radius: 30px;
    padding: 8px 20px;
}

.copy {
    border: solid;
    width: 80px;
    height: 43px;
    text-align: center;
    border-radius: 100px;
    border-color: none;
    border-color: $purple;
    cursor: pointer;
    margin-bottom: 35px;
    border-width: 2px;
}

.start {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: $purple;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.125rem;
    border-radius: 30px;
    padding: 8px 20px;
    margin-bottom: 50px;
    cursor: pointer;
}